*{
	margin: 0;
	padding: 0;
}
body{
  font: 14px/1.5 "Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0 auto;
  min-width: 1000px;
}
a{
	text-decoration: none;
}

.wrapper{
	width: 920px;
	margin: 0 auto;
	margin-top: 30px;
}
.login{
	float: right;
	line-height: 50px;
}
.login a{
	color: #fff;
}
.mod_main{
	position: relative;
	width: 610px;
	float: left;
	z-index: 3;
}
.mod_main .tabnav{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.mod_main .tabcont{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.tabnav{
	height: 40px;
	background-color: #3B5B8E;
}
.tabnav a{
	display: inline-block;
	margin: 0 26px;
	color: #fff;
	height: 38px;
	line-height: 38px;
	font-size: 1pc;
	padding: 0 5px;
}
.tabnav a.on, .tabnav a:hover{
	font-weight: 700;
	border-bottom: 2px solid #fff;
}
.tabcont{
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,.2);
}
.chat_content .scrollbox{
	position: relative;
	padding: 0 20px;
	width: 540px;
}
.chat_content{
	overflow: hidden;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.chat_content_window{
	position: relative;
	height: 500px;
}
.chat_content_friend{
	padding-top: 40px;
}
.scrollbox-friend{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	z-index: 3;
	text-align: center;
	font-size: 12px;
}
.scrollbox-friendname{
	line-height: 40px;
	font-size: 20px;
	margin: 0 10px;
	color: #C49351;
	font-weight: 600;
}
.dialog{
	position: relative;
	padding: 0 3pc;
	margin-bottom: 17px;
}
.dialog .headimg{
	display: block;
	position: absolute;
	width: 33px;
	height: 33px;
	left: 0;
	top: 0;
	border-radius: 3px;
}
.dialog .headimg img{
	width: 33px;
	height: 33px;
}
.dialog .dialog_top{
	padding-bottom: 3px;
}
.dialog_top a{
	color: #1d38bb;
	font-size: 15px;
	line-height: 14px;
}
.dialog_top .dtime{
	padding-left: 20px;
	font-size: 11px;
	color: #1d38bb;
	line-height: 14px;
}
.dialog>p{
	display: inline-block;
	padding: 5px 9px;
	color: #222;
	line-height: 18pt;
	font-size: 11pt;
	background-color: #eef2f8;
	border-radius: 11px;
}
.dialog>p i{
	display: block;
	position: absolute;
	background-image: url(../../img/img_css.png);
	left: 42px;
	top: 30px;
	width: 7px;
	height: 8px;
	background-position: -75pt -10pc;
	z-index: 3;
}
.dialog .at{
	display: none;
	position: absolute;
	top: 43px;
	left: 0;
	box-shadow: 0 0 4px rgba(12,3,5,.3);
	background-color: #fff;
	border-radius: 2px;
}
.dialog .at:hover{
	background-color: #c49351;
}
.dialog .at:hover b{
	border-color: transparent transparent #c49351;
}
.dialog .at a{
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	text-align: center;
	width: 70px;
	color: #4e4e4e;
}
.dialog .at a b{
	position: absolute;
	top: -10px;
	left: 13px;
	width: 0;
	height: 0;
	border-width: 5px;
	display: block;
	border-color: transparent transparent #fff;
	border-style: solid;
}
.mine .headimg{
	left: auto;
	right: 0;
}
.mine .dialog_top{
	text-align: right;
}
.mine .dialog_top .dtime{
	margin-right: 20px;
}
.mine>p i{
	background-image: url(../../img/img_css.png);
	left: auto;
	right: 42px;
	top: 30px;
	width: 7px;
	height: 8px;
	background-position: -110px -10pc;
}
.mine{
	text-align: right;
}
.chat_input{
	height: 170px;
	width: 100%;
	position: relative;
}
.chat_input .toolbar{
	height: 21px;
	padding: 9pt 10px;
	position: relative;
}
.toolbar .face-box{
	position: absolute;
	width: 300px;
	height: 200px;
	background-color: #eee;
	z-index: 4;
	bottom: 40px;
}
.face-content-title{
	width: 100%;
	text-align:18px;
}
.face-content-main ul li{
	list-style-type: none;
	float: left;
	border: 1px solid #ccc;
	padding: 2px;
	width: 22px;
	height: 22px;
}
.face-content-main ul li img{
	cursor: pointer;
	width: 22px;
	height: 22px;
}
.toolbar a{
	color: #fff;
}
.input_area .ctextarea{
	background-color: rgba(255,255,255,.5);
	outline: none;
	border: 0;
	width: 550px;
	border-radius: 3px;
	color: #34373d;
	font-size: 15px;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	height: 50px;
	overflow-y: auto;
}
.input_box .sendBtn{
	background-color: #c49351;
	outline: none;
	border: 0;
	position: absolute;
	right: 20px;
	bottom: 10px;
	width: 102px;
	height: 36px;
	line-height: 36px;
	display: block;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
	color: #fff;
	font-size: 22px;
}
.input_area span, .input_area span label{
	cursor: pointer;
	color: #4975ac;

}









.mod_userlist{
	float: left;
	position: relative;
	border-radius: 3px;
	width: 280px;
	margin-right: 2px;
}
.mod_userlist .titbar{
	background-color: #3B5B8E;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.mod_userlist .titbar span.titbar-li{
	cursor: pointer;
	color: #fff;
	line-height: 40px;
	font-size: 14px;
	font-weight: 400;
}
.mod_userlist .titbar span.titbar-li span{
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
}
.mod_userlist .titbar span.titbar-li span:hover, .titbar .titbar-on span{
	font-weight: 600;
	border-bottom: 2px solid #fff;
}
.mod_userlist .titbar span.titbar-li i{
	font-style: normal;
	font-size: 9pt;
	color: #d3d3d3;
	font-weight: 400;
	margin-right: 5px;
}
.mod_userlist .list_window{
	overflow: hidden;
	height: 670px;
	background-color: rgba(255,255,255,.2);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.all_list ul li{
	list-style-type: none;
	border-bottom: 1px solid rgba(1,8,37,.1);
	padding-left: 5px;
}
.all_list ul li:hover{
	background-color: rgba(255,255,255,.4);
}
.all_list ul li .headimg{
	float: left;
	margin-right: 15px;
}
.all_list ul li img{
	width: 33px;
	height: 33px;
	border-radius: 3px;
}
.all_list ul li>a{
	display: block;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	color: #34373d;
	padding: 7px 0 7px 18px;
}

.all_list .addfriendbox{
	width: 250px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.addfriendbox .addfriendname{
	color: #34373d;
	width: 150px;
	margin-left: 20px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	border: 0;
	border-radius: 3px;
	background-color: rgba(255,255,255,.6);
}
.addfriendbox .addfriendbtn{
	cursor: pointer;
	width: 50px;
	height: 30px;
	border: 0;
	margin-left: 10px;
	color: #fff;
	border-radius: 3px;
	background-color: #3157A1;
	outline: none;
}
.addfriendbox .addfriendbtn:hover{
	background-color: #234181;
}
.allMessages li{
	list-style-type: none;
	border-bottom: 1px solid rgba(1,8,37,.1);
	padding-left: 5px;
}
.allMessages li>a{
	display: block;
	height: 46px;
	line-height: 23px;
	font-size: 14px;
	color: #34373d;
	padding: 7px 0 7px 18px;
	cursor: default;
}
.allMessages li:hover{
	background-color: rgba(255,255,255,.4);
}
.allMessages li .req_name{
	color: #C49351;
}
.allMessages li .req_item{
	font-size: 12px;
}
.allMessages li button{
	width: 50px;
	height: 20px;
	border: 0;
	outline: none;
	color: #fff;
	background-color: #C49351;
	border-radius: 2px;
	margin-left: 10px;
}
.allMessages li button:hover{
	background-color: #D4A361;
	cursor: pointer;
}
.allMessages .res_accept, .allMessages .res_reject{
	display: none;
	font-size: 12px;
	color: #C49351;
	margin-left: 10px;
}




.login-box-wrapper{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 5;
	top: 0;
	left: 0;
}
.login-box{
	width: 400px;
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
}
.login-box .login-header{
	height: 40px;
}
.login-box .login-header h3{
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	margin: 10px 20px;
	border-bottom: 1px solid #ccc;
}
.login-body{
	padding: 30px 90px 0;
}
.login-body input{
	display: block;
	width: 190px;
	height: 20px;
	margin: 5px 0 10px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 2px;
}
.login-footer{
	margin-top: 20px;
}
.login-footer button{
	width: 60px;
	height: 30px;
	background-color: #4F94CF;
	outline: none;
	border: 0;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
.login-footer button:hover{
	background-color: #519DDE;
}
.login-btn{
	margin-left: 110px;
	margin-right: 50px;
}


body .site-footer{
	position: fixed;
	width: 100%;
	bottom: 0;
}

.clearfix:after{
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}